.drawflow .drawflow-node {
  color: white;
  padding: 0;
  border: none;
  background: none;
}

.drawflow .drawflow-node.selected {
  background: none;
}

.drawflow .drawflow-node .input,
.drawflow .drawflow-node .output {
  background: #181818;
  border: 3px solid #8fa7a6;
  width: 24px;
  height: 24px;
  margin-top: 12px;
  margin-bottom: 12px;
  border-radius: 10px;
}

.drawflow .drawflow-node .input {
  left: -12px;
}

.drawflow .drawflow-node .output {
  right: 12px;
}

.drawflow .drawflow-node .output:hover,
.drawflow .drawflow-node .input:hover {
  border: 3px solid #5e5fb7;
}

.drawflow .connection .main-path {
  stroke-width: 3px;
  stroke: #ebf0f1;
}

.drawflow .connection .main-path:hover {
  stroke: #5e5fb7;
}

.drawflow .connection .main-path.selected {
  stroke: #5e5fb7;
}

.parent-node .drawflow-delete {
  display: none !important;
}

.drawflow .drawflow-node .drawflow_content_node input,
.drawflow .drawflow-node .drawflow_content_node .el-select,
.drawflow .drawflow-node .drawflow_content_node button {
  width: 100%;
}

.node {
  color: white;
  border: none !important;
}
